.youtube-header {
    background-color: white;
    display: flex;
    height: 56px;
    margin-bottom: 10px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
  }

  .logo-hamb {
    display: flex;
    height: inherit;
    align-items: center;
    margin-left: 50px;
  }

  .search-bar-icon {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e3e3e3;
    width: 70%;
  }

  .prof-picture {
    color: white;
    padding: 0 0 0 15px;
    margin-right: 40px;
  }